/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 *= require chosen
 *= require_tree .
 */

@import 'font-awesome';
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
  text-align: center;
  background-color: #f0edeb;
}

.centerWrap {
  width: 900px;
  margin: 30px auto;
  text-align: center;
  position: relative;
}

.title {
  padding: 0px 0px 40px 0px;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 10.7em;
  color: #46cdc4;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .42);
}
.note {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}
.notice {
  color: rgba(0, 109, 0, 0.50);
}
.alert {
  color: rgba(152, 0, 0, 0.49);
}

footer {
  font-size: 12px;
  text-align: center;
  color: #696454;
  padding: 20px;
}

.modal-glaze {
  position: absolute;
  background: rgba(40, 40, 35, 0.80);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

.modal {
  position: relative;
  display: none;
  margin: 275px auto 0;
  width: 60%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(255, 246, 230, 0.80);
  -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 0 8px rgba(0, 0, 0, .2);
  box-shadow: 0 0 0 8px rgba(0, 0, 0, .2);
  font-family: 'Lobster', cursive;
  color: #85523c;
  padding: 10px;
  font-size: 24px;

}

.close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  padding: 0px 8px 2px;
  background: rgba(80, 62, 50, 0.2);
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: helvetica;
  font-size: 18px;
}

.message {
  text-align: center;
  padding-top: 200px;
  a {
    font-family: 'Lobster', cursive;
    font-size: 120px;
    color: #ff6a67;
  }
  a:hover {
    color: #e75f5c;
  }
}

.small-message {
  text-align: center;
  padding-top: 15px;
  a {
    font-family: Futura;
    font-size: 20px;
    color: #c6f659;
  }
  a:hover {
    color: #9fcd51;
  }
}