/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Pacifico);

body
{
  text-align: center;
  background-color: #292823;
}
footer
{
    font-family: helvetica;
    font-size: 12px;
    text-align: center;
    padding: 50px 0px 0px 0px;
    color: #696454;
}

.modal-glaze
{
    position: absolute;
    background: rgba(40, 40, 35, 0.80);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-align: center;
}
.modal
{
    position: relative;
    display: none;
    margin: 275px auto 0;
    width: 60%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(255, 246, 230, 0.80);
	-webkit-box-shadow: 0 0 0 8px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 0 8px rgba(0,0,0,.2);
	box-shadow: 0 0 0 8px rgba(0,0,0,.2);
    font-family: 'Pacifico', cursive;
    color: #85523c;
    padding: 10px;
    font-size: 24px;

}
.close-modal
{
  position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    padding: 0px 8px 2px ;
    background: rgba(80, 62, 50, 0.2);
    cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    font-family: helvetica;
    font-size: 18px;
}