.reg-wrap {

  padding: 20px;
  text-align: center;
  h2 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: #556271;
    font-weight: 400;
    padding: 0;
    margin: 0 0 40px 0;
  }
  .email-field {

  }
  .password-field {
    margin-top: 20px;
  }
  input.submit-button {
    margin-top: 20px;
    display: block;
    float: right;
    padding: 20px;
    font-size: 20px;

  }
  .links {
    font-family: helvetica;
    margin-top: 20px;
    text-align: left;
    line-height: 1.4em;
    font-size: .8em;

    label {

    }
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {

  color: #f4af6d;
  display: block;
  font-size: 1.5em;
  margin: 0;
  padding: 0.5em;
  width: 100%;

}

.intro-text {
  margin: 0px 60px 20px;
  text-align: left;
  font-family: "Helvetica Neue";
  font-size: 20px;
  color: #556271;
  .underline {
    text-decoration: underline;
  }
  .highlight {
    color: #46cdc4;
  }
}

.outro-text {
  margin: 0px 60px 50px;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #556271;

}

a.sign-in {
  display: inline-block;
  font-family: "Lobster 1.3";
  font-size: 3.2em;
  color: #ff6a67;
  padding: 0px 18px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #db6456;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .28);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .28);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .28);
  background-image: -webkit-linear-gradient(left, #ebe7e4, #fff 49%, #ebe7e4);
  background-image: -moz-linear-gradient(left, #ebe7e4, #fff 49%, #ebe7e4);
  background-image: -o-linear-gradient(left, #ebe7e4, #fff 49%, #ebe7e4);
  background-image: -ms-linear-gradient(left, #ebe7e4, #fff 49%, #ebe7e4);
  background-image: linear-gradient(to right, #ebe7e4, #fff 49%, #ebe7e4);
  i {
    display: inline-block;
    color: #3b5998;
    font-size: 1.5em;
    margin-top: 10px;
  }
}

a.sign-in:hover {
  color: #ed5e5c;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .50);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .50);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .50);
}

.reassurance {
  margin-top: 9px;
  font-family: "Helvetica Neue";
  font-size: 12px;
  color: #aeafb7;
  a {
    color: #aeafb7;
    text-decoration: underline;
  }
}














