:javascript
  $(function(){
   console.log('starting SSE')
   if(!!window.EventSource) {

     var source = new EventSource('#{field_subscription_path(@field)}');

     source.addEventListener('message', function(e) {
       datum = JSON.parse(e.data)
       console.log( JSON.parse(e.data) );
       var opponent = datum.id != "#{current_user.id}" ? 'opponent' : '';
       if( datum.state == 'uncovered' ){
        var info = datum.has_mine ? 'B' : datum.mines > 0 ? datum.mines : ''
        $('#block_'+datum.id).replaceWith('<div class="block '+opponent+'">'+ info +'</div>' )
       }
       else if( datum.state == 'flagged' )
       {
        $('#block_'+datum.id).html('f')
        $('#block_'+datum.id).addClass(opponent);
       }
       else if( datum.state == 'covered' )
       {
        $('#block_'+datum.id).replaceWith('<div class="block field covered" id="block_'+datum.id+'" class="block"></div>')
       }
     }, false);

     source.addEventListener('open', function(e) {
       // Connection was opened.
     }, false);

     source.addEventListener('error', function(e) {
       if (e.readyState == EventSource.CLOSED) {
         // Connection was closed.
       }
     }, false);

   }else{
     console.log('SSE not available')
   }
  })


.outer-board
  .wood-board
    .inner-board
      .screen
        #game-timer
      #grid.grid
        = render :partial => 'block', :collection => @field.locations.order(:id=>:asc), :as => :block
  .bench
    .row
      .small-3.columns.text-left-align
        #timmer-button.little-square{'data-tooltip'=>'', title:'Toggle timer', class:'tip-bottom' }
          .inner
            %i.icon-time
        #flag-button.little-square{ 'data-tooltip'=>'', title:'Toggle Flag', class:'tip-bottom' }
          .inner
            %i.icon-flag-alt.flag
      .small-6.columns.text-center-align
        .score-wrap
          0
          .vr vs
          0
      .small-3.columns.text-right-align
        .little-square{'data-reveal-id' => 'challenge', 'data-tooltip'=>'', title:'Challenge Friends', class:'tip-bottom' }
          .inner
            %i.icon-group
