:javascript
  // Not sure why, but jquery isn't ready yet?
  setTimeout(function(){$(function(){
   console.log('starting SSE')
   if(!!window.EventSource) {

     var source = new EventSource('#{subscribe_field_locations_path(@field)}')

     source.addEventListener('message', function(e) {
       datum = JSON.parse(e.data)
       console.log( JSON.parse(e.data) );
       if( datum.state == 'uncovered' ){
        var info = datum.has_mine ? 'B' : datum.mines > 0 ? datum.mines : ''
        $('#block_'+datum.id).replaceWith('<div class="block">'+ info +'</div>' )
       }
       else if( datum.state == 'flagged' )
       {
        $('#block_'+datum.id).html('f')
       }
       else if( datum.state == 'covered' )
       {
        $('#block_'+datum.id).replaceWith('<div class="block field covered" id="block_'+datum.id+'" class="block"></div>')
       }
     }, false);

     source.addEventListener('open', function(e) {
       // Connection was opened.
     }, false);

     source.addEventListener('error', function(e) {
       if (e.readyState == EventSource.CLOSED) {
         // Connection was closed.
       }
     }, false);

   }else{
     console.log('SSE not available')
   }
  })},2000)






.outer-board
  .wood-board
    .inner-board
      #grid.grid
        - @blocks = @field.locations
        = render :partial => 'block', :collection => @blocks, :as => :block
  .bench
    .row
      .small-3.columns.text-left-align
        .little-square
          .inner
            %i.icon-time
        .little-square
          .inner
            %i.icon-flag-alt.flag
      .small-6.columns.text-center-align
        .score-wrap
          12
          .vr vs
          21
      .small-3.columns.text-right-align
        .little-square
          .inner
            %i.icon-group
  .history
    .row.match
      .small-4.columns.text-left-align
        .profile-pic
        Bradley Potterbaum
      .small-4.columns.text-center-align
        .score-wrap
          12
          .vr vs
          21
      .small-4.columns.text-right-align
        .profile-pic
        Bradley Potterbaum




-#= link_to 'challenge a friend?', '#', 'data-reveal-id' => 'challenge', class:'challenge'
