.board
  .wood
    .play_area
      #grid.grid
        - @blocks = @field.locations
        = render :partial => 'block', :collection => @blocks, :as => :block
.tools
  .time.timer
    00: 00
  #flag.flag