.centerWrap
  .title
    = image_tag 'name.png', alt: 'bombsvacuum'
  .board
    .wood
      .play_area
        .grid
          - @blocks = @field.locations
          = render :partial => 'board/block', :collection => @blocks, :as => :block
  .score-board
    .header
      .name
        Name
      .time
        Best Time
      .plays
        Plays
    .people
      - @people = %w(Brad Ben Mike)
      = render :partial => 'board/person', :collection => @people, :as => :person

  %footer
    This is a footer and this is where you put all the footer stuff.