- if user_signed_in?
  #challenge.reveal-modal.medium
    %i.icon-facebook-sign{style:'font-size:100px;color:#3b5998;'}
    %h2 Find a friend!

    %select#friends_select{:multiple => "", style:'width:100%'}/
    %br
    -#Top challengers
    -#%br
    -##top_friends
    %a.close-reveal-modal ×
- else
  #challenge.reveal-modal.medium
    %i.icon-facebook-sign{style:'font-size:100px;color:#3b5998;'}
    %h2 Challenge a friend!
    %br
    = link_to 'Sign in with Facebook', '/users/auth/facebook'
    %a.close-reveal-modal ×